/* orientation */
/* 
.header {
    display:flex;
    justify-content: center;
    align-items: center;
} */
/* .history {
    display: flex;
    justify-content: flex-start;
} */

/* :root {
    background-color: black;
} */


.box {
    display: grid;
    grid-template-columns: 2rem 2rem;
    grid-auto-rows: 2rem;
    place-items:center;
    /* font-size: 1000px;  */
    /* margin-right: 2rem; */
}

.history .boxes .box {
    margin-left: 1rem;
}
.history .columns .column {
    margin-left: 1rem;
}


/* enables present user selection to stay in place */
.history .boxes .box:nth-last-child(1) {
    margin-left: 1rem;
    margin-right: 1rem;
}
.history .columns .column:nth-last-child(1) {
    margin-left: 1rem;
    margin-right: 1rem;
}

.column {
    display:grid;
    /* grid-template-columns: 1rem; */
    /* grid-auto-rows: 2rem; */
    /* margin-right: 2rem; */

    /* width allows alignment with boxes */
    width: 4rem;      
    place-items: center;
    /* grid-template-rows: 1rem; */

}



/* getting the general shape of orientation */

/* enables present to pivot beside history */
header {
    display: flex;
    justify-content:center;
    /* width: "2rem"; */
}

.header-content {
    display: grid;
    justify-content: center;

    grid-template-columns: 1.5fr 3fr 2fr 3fr 1.5fr;
    grid-auto-rows: minmax(3rem, auto);

    grid-template-areas:
    /* ". . . . ." */
    ". ha .  hb ."
    ". ha . . . "
    ". ha . hc . "
    "hd hd hd hd hd";
}

.sliders {
    grid-area: ha;
}

.dupe {
    grid-area: hb;
}

.new-game {
    grid-area: hc;
}

.turns-message {
    grid-area: hd;
}

/* .gameboard {
    display: grid;

    justify-content: center;

    grid-template-rows: .25fr 3fr 1fr 2fr
} */




/* segregates answer column, aligns it to the history */
.answer {
    margin-left: 2rem;
}


footer {
    display: flex;
    justify-content:center;
    /* width: "2rem"; */
}

.footer-content {
    display: grid;
    justify-items:center;
    grid-auto-rows: minmax(1rem, auto);
    /* grid-auto-rows: 1fr 1fr 1fr; */
    grid-template-columns:  2rem auto 2rem;

    grid-template-areas:
    /* ". . ." */
    ". fa ."
    ". . ."
    ". fb .";
}

.color-buttons {
    grid-area: fa;
}
.submit {
    grid-area: fb;
}

.winning-message {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.losing-message {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

main {
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: flex; 
    justify-content: center;

    /* font-size: 2px; */
}



/* shaping  */
/* making div and buttons the same size */
div, 
button {
    box-sizing: border-box;
    border: none;
    /* margin: 0; */
    /* width: var(width);
    height: var(height); */
}

/* cicles for the colors */
.circle {
    background-color: hsla(0, 0%, 0%, 0.452);
    border-style: outset;
    width: 1.5rem;
    height: 1.5rem;
    padding: 1.5rem;
    border-radius: 50%;
    font-size: 0;

}

/* circles for the results */
.small-circle {
    border-radius: 50%;
    border-color: black;
    border-style: double;
    width: .75rem;
    height: .75rem;
    padding: .75rem;
    font-size: 0;
    background-color: hsla(0, 0%, 0%, 0.452);
}

/* results */
.hit {
    background-color: hsla(0, 100%, 56%, 0.61);
    border-color: hsl(0, 100%, 56%);
    border-radius: 3rem;
    outline: 1rem solid hsl(0, 100%, 56%);
    outline-offset: -1.25rem;
}
.blow {
    background-color: hsla(0, 0%, 100%, 0.966);
    border-color: hsla(0, 9%, 70%, 0.801);
    border-radius: 3rem;
    outline: 1rem solid hsla(0, 0%, 100%, 0.966);
    outline-offset: -1.25rem;
}

/* coloring */
/* there should be a better way for this... */
.none {
    background-color: rgb(202, 202, 202);
    border-color: rgb(202, 202, 202);
    border-style: double;
}
.empty {
    background-color: hsl(0, 0%, 79%);
    border-color: rgb(202, 202, 202);
    border-style: double;
}
.empty:hover {
    background-color: hsl(0, 0%, 65%);
}

.clicked {
    background-color: hsl(0, 0%, 65%);
    border-color: hsl(0, 0%, 65%);
    border-style: double;
}

.blue {
    background-color: hsl(220, 100%, 50%, .9);
    border-color: hsl(220, 100%, 50%);
}
.color-buttons .blue:hover, .user-buttons .blue:hover {
    background-color: hsl(220, 100%, 45%, .9);
}
.red {
    background-color:hsl(-10, 100%, 50%, .9);
    border-color:hsl(-10, 100%, 50%);
}
.color-buttons .red:hover, .user-buttons .red:hover {
    background-color:hsl(-10, 100%, 45%, .9);
    border-color:hsl(-10, 100%, 50%);
}
.green {
    background-color: hsl(100, 100%, 25%, .9);
    border-color: hsl(100, 100%, 25%);
}
.color-buttons .green:hover, .user-buttons .green:hover {
    background-color: hsl(100, 100%, 20%, .9);
    border-color: hsl(100, 100%, 25%);
}
.yellow {
    background-color: hsl(50, 100%, 50%, .9);
    border-color: hsl(50, 100%, 50%);
}
.color-buttons .yellow:hover, .user-buttons .yellow:hover {
    background-color: hsl(50, 100%, 45%, .9);
    border-color: hsl(50, 100%, 50%);
}
.purple {
    background-color: hsl(290, 58%, 46%, .9);
    border-color: hsl(290, 58%, 46%);
}
.color-buttons .purple:hover, .user-buttons .purple:hover {
    background-color: hsl(290, 58%, 41%, .9);
    border-color: hsl(290, 58%, 46%);
}
.white {
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 70%);
}
.color-buttons .white:hover, .user-buttons .white:hover {
    background-color: hsl(0, 0%, 95%, .9);
    border-color: hsl(0, 0%, 70%);
}
.orange {
    background-color: hsl(25, 100%, 50%, .9);
    border-color: hsl(25, 100%, 50%);
}
.color-buttons .orange:hover, .user-buttons .orange:hover {
    background-color: hsl(25, 100%, 45%, .9);
    border-color: hsl(25, 100%, 50%);
}
.grey {
    background-color: hsl(30, 0%, 50%, .9);
    border-color: hsl(30, 0%, 50%);
}
.color-buttons .grey:hover, .user-buttons .grey:hover {
    background-color: hsl(30, 0%, 45%, .9);
    border-color: hsl(30, 0%, 50%);
}
.brown {
    background-color: hsl(20, 59%, 41%, .9);
    border-color: hsl(20, 59%, 41%);
}
.color-buttons .brown:hover, .user-buttons .brown:hover {
    background-color: hsl(20, 59%, 36%, .9);
    border-color: hsl(20, 59%, 41%);
}
/* .empty {
    background-color: hsla(0, 0%, 0%, 0.452);
} */
.answer .box .none{
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}