/* orientation */
/* 
.header {
    display:flex;
    justify-content: center;
    align-items: center;
} */
/* .history {
    display: flex;
    justify-content: flex-start;
} */
.present {
    margin-left: 1rem;
}

.box {
    display: grid;
    grid-template-columns: 1.5rem 1.5rem;
    grid-auto-rows: 1.5rem;
    place-items:center;
    /* margin-right: 2rem; */
}

.history .boxes .box {
    margin-left: 1rem;
}
.history .columns .column {
    margin-left: 1rem;
}

.column {
    display:grid;
    /* grid-template-columns: 1rem; */
    /* grid-auto-rows: 2rem; */
    /* margin-right: 2rem; */
    width: 48px;
    place-items: center;
    /* grid-template-rows: 1rem; */

}



/* getting the general shape of orientation */

/* enables present to pivot beside history */



main {
    display:flex; 
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
}

/* shaping  */
/* making div and buttons the same size */
div, 
button {
    box-sizing: border-box;
    border: none;
    /* margin: 0; */
    /* width: var(width);
    height: var(height); */
}

/* cicles for the colors */
.circle {
    background-color: hsla(0, 0%, 0%, 0.452);
    border-style: outset;
    width: 1rem;
    height: 1rem;
    padding: 1rem;
    border-radius: 50%;
    font-size: 0;

}

/* circles for the results */
.small-circle {
    border-radius: 50%;
    border-color: black;
    border-style: double;
    width: .5rem;
    height: .5rem;
    padding: .5rem;
    font-size: 0;
    background-color: hsla(0, 0%, 0%, 0.452);
}

/* results */
.hit {
    background-color: hsla(0, 100%, 56%, 0.61);
    border-color: hsl(0, 100%, 56%);
}
.blow {
    background-color: hsla(0, 9%, 98%, 0.801);
    border-color: hsla(0, 9%, 70%, 0.801);
}

/* coloring */
/* there should be a better way for this... */
.none {
    background-color: rgb(202, 202, 202);
    border-color: rgb(202, 202, 202);
    border-style: double;
}
.empty {
    background-color: rgb(202, 202, 202);
    border-color: rgb(202, 202, 202);
    border-style: double;
}
.blue {
    background-color: hsl(220, 100%, 50%, .9);
    border-color: hsl(220, 100%, 50%);
}
.red {
    background-color:hsl(-10, 100%, 50%, .9);
    border-color:hsl(-10, 100%, 50%);
}
.green {
    background-color: hsl(100, 100%, 25%, .9);
    border-color: hsl(100, 100%, 25%);
}
.yellow {
    background-color: hsl(50, 100%, 50%, .9);
    border-color: hsl(50, 100%, 50%);
}
.purple {
    background-color: hsl(290, 58%, 46%, .9);
    border-color: hsl(290, 58%, 46%);
}
.white {
    background-color: hsl(0, 0%, 100%, .9);
    border-color: hsl(0, 0%, 70%);
}
.orange {
    background-color: hsl(25, 100%, 50%, .9);
    border-color: hsl(25, 100%, 50%);
}
.grey {
    background-color: hsl(30, 0%, 50%, .9);
    border-color: hsl(30, 0%, 50%);
}
.brown {
    background-color: hsl(20, 59%, 41%, .9);
    border-color: hsl(20, 59%, 41%);
}
/* .empty {
    background-color: hsla(0, 0%, 0%, 0.452);
} */
